* {

}
.grid {
    width: 560px;
    height: 560px;
    background-color: blue;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}